// Variables
$color-black: rgb(68, 68, 68);
$color-grey: rgb(168, 168, 168);
$color-theme: rgb(111, 0, 222);

/* box-shadow */

$box-shadow: 0 3px 12px rgba(88, 88, 88, 0.2);

/* Gravity Forms */

// error color ...
$color-error: red;
