// Variables
$color-black: rgb(68, 68, 68);
$color-grey: rgb(168, 168, 168);
$color-grey-light: rgb(236, 236, 236);
$color-theme: rgb(111, 0, 222);

/* theme details */

$border-radius: 8px;
$box-shadow: 0 3px 12px rgba(88, 88, 88, 0.2);

/* Gravity Forms */

// error color ...
$color-error: red;
