.row-featured-tiles {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $color-green-bg-light;
    margin-bottom: 25px;
}

.row-featured-tiles.color-blue {
    background: $color-grey-bg;
}

.row-featured-tiles.color-yellow {
    background: rgb(244, 255, 245);
}

.featured-tiles-wrapper .fs-block {
    position: relative;
    margin: 0 auto 25px;
    text-align: center;
    background-color: $color-green;
    padding: 50px 30px;
    max-width: 320px;
}

.featured-tiles-wrapper .fs-block:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border: 1px solid $color-border-green-dark;
}

.featured-tiles-wrapper .fs-block.fs-block1,
.featured-tiles-wrapper .fs-block.fs-block2,
.featured-tiles-wrapper .fs-block.fs-block3 {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 500px) {
    .featured-tiles-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5%;
    }
    .featured-tiles-wrapper .fs-block {
        margin: 0 1.5% 25px;
        max-width: none;
    }
    .featured-tiles-wrapper .fs-block.fs-block1,
    .featured-tiles-wrapper .fs-block.fs-block2 {
        width: 47%;
    }
    .featured-tiles-wrapper .fs-block.fs-block3 {
        width: 97%;
    }
}

@media only screen and (min-width: 960px) {
    .featured-tiles-wrapper {
        flex-wrap: nowrap;
    }
    .featured-tiles-wrapper .fs-block.fs-block1,
    .featured-tiles-wrapper .fs-block.fs-block2,
    .featured-tiles-wrapper .fs-block.fs-block3 {
        width: 30.33%;
    }
}

@media only screen and (min-width: 1024px) {
    .featured-tiles-wrapper .fs-block {
        padding: 80px 40px;
    }
    .featured-tiles-wrapper .fs-block.fs-block1 {
        width: 47%;
    }
    .featured-tiles-wrapper .fs-block.fs-block2,
    .featured-tiles-wrapper .fs-block.fs-block3 {
        width: 23.5%;
    }
}

//bg block
.fs-block.fs-block-bgimg {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.fs-block.fs-block-bgimg>div {
    min-height: 120px;
}

// colors yellow
.row-featured-tiles.color-yellow .fs-block.fs-block1 {
    background-color: rgb(138, 228, 168);
}

.row-featured-tiles.color-yellow .fs-block.fs-block1:after {
    border-color: rgb(106, 221, 158);
}

.row-featured-tiles.color-yellow .fs-block.fs-block2 {
    background-color: rgb(255, 252, 193);
}

.row-featured-tiles.color-yellow .fs-block.fs-block2:after {
    border-color: rgb(10, 198, 165);
}

.row-featured-tiles.color-yellow .fs-block.fs-block3 {
    background-color: rgba(240, 246, 255, 0.86);
}

.row-featured-tiles.color-yellow .fs-block.fs-block3:after {
    border-color: rgba(90, 173, 159, 0.2);
}

// colors blue
.row-featured-tiles.color-blue .fs-block.fs-block1 {
    background-color: rgb(218, 251, 255);
}

.row-featured-tiles.color-blue .fs-block.fs-block1:after {
    border-color: rgb(122, 180, 255);
}

.row-featured-tiles.color-blue .fs-block.fs-block2 {
    background-color: rgb(116, 177, 255);
}

.row-featured-tiles.color-blue .fs-block.fs-block2:after {
    border-color: rgb(190, 246, 255);
}

.row-featured-tiles.color-blue .fs-block.fs-block3 {
    background-color: rgba(240, 246, 255, 0.86);
}

.row-featured-tiles.color-blue .fs-block.fs-block3:after {
    border-color: rgba(90, 173, 159, 0.2);
}

// colors picker
.row-featured-tiles.color-picker .fs-block.fs-block1:after,
.row-featured-tiles.color-picker .fs-block.fs-block2:after {
    border-color: $color-border-opacity;
}

.row-featured-tiles.color-picker .fs-block.fs-block3 {
    background-color: $color-green;
}

.row-featured-tiles.color-picker .fs-block.fs-block3:after {
    border-color: $color-border-green-dark;
}

// linked 
a.fs-block {
    color: inherit;
}

.has-mouse a.fs-block {
    transition: transform .3s ease-out, box-shadow .3s ease-out;
}

.has-mouse a.fs-block:hover {
    transform: translateY(-4px);
    box-shadow: $box-shadow;
}

// cta
.row-featured-tiles .featured-tiles-wrapper .fs-block.fs-cta {
    background-color: $color-yellow-bg;
    background-image: url(img/icons/icon-yellow.svg);
    background-size: 47px 47px;
    background-position: 40px 40px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding-top: 85px;
}

.row-featured-tiles .featured-tiles-wrapper .fs-block.fs-cta:after {
    border-color: $color-yellow-border;
}

.row-featured-tiles .featured-tiles-wrapper .fs-block.fs-cta>div {
    margin: auto;
}

.row-featured-tiles .featured-tiles-wrapper .fs-block.fs-cta p {
    color: $color-yellow-txt;
    padding-top: 20px;
    margin: 0 0 30px;
}

// content
.fs-block h4,
.fs-block p,
.fs-block a {
    position: relative;
    z-index: 2;
}

.featured-tiles-wrapper h4 {
    margin-bottom: 40px;
    font-size: 20px;
}

.featured-tiles-wrapper h4 span {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-style: italic;
}

.featured-tiles-wrapper p {
    margin: 0;
    font-size: 13px;
}

.featured-tiles-wrapper .fs-block .fs-block-link {
    color: inherit;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 13px;
}
