/* buttons */

.button-solid,
.button-outline {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    min-width: 120px;
    text-decoration: none!important;
}


/* button solid */

.button-green-solid {
    color: #fff;
    background-color: $color-theme;
    border: 1px solid $color-theme;
}

.has-mouse .button-solid {
    transition: all .3s;
}

.button-solid:focus,
.has-mouse .button-solid:hover {
    background-color: $color-theme;
    color: #fff;
    border-color: $color-theme;
    text-decoration: none;
}

// button outline
.button-outline {
    background-color: transparent;
    border: 1px solid $color-theme;
    color: $color-theme;
}

.has-mouse .button-outline {
    transition: all .3s ease-in-out;
}

.button-outline:focus,
.has-mouse .button-outline:hover {
    background-color: transparent;
    color: $color-theme;
    border-color: $color-theme;
    text-decoration: none!important;
}

// buttons wrapper
.buttons-wrapper a {
    margin-right: 16px;
    margin-bottom: 16px;
}

// check!!!
.buttons-wrapper a:last-of-type {
    margin-right: 0;
}
