/* all buttons */

.button-green-solid,
.button-green-outline,
#header-nav-wrapper nav ul#nav-header li.menu-button-contact a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $color-green;
    background-color: $color-green-light;
    border: 1px solid $color-green-light;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    min-width: 120px;
    text-decoration: none!important;
}


/* button green solid */

.button-green-solid {
    color: $color-green;
    background-color: $color-green-light;
    border: 1px solid $color-green-light;
}

.has-mouse .button-green-solid {
    transition: all .3s;
}

.button-green-solid:focus,
.has-mouse .button-green-solid:hover {
    background-color: transparent; //$color-green-lightest;
    color: $color-green;
    border-color: $color-green;
    text-decoration: none;
}

// button green outline
#header-nav-wrapper nav ul#nav-header li.menu-button-contact a,
.button-green-outline {
    background-color: transparent;
    color: $color-green-light;
    border: 1px solid $color-green-light;
}

#header-nav-wrapper nav ul#nav-header li.menu-button-contact a,
.has-mouse .button-green-outline {
    transition: all .3s ease-in-out;
}

.has-mouse #header-nav-wrapper nav ul#nav-header li.menu-button-contact a:hover,
.button-green-outline:focus,
.has-mouse .button-green-outline:hover {
    background-color: transparent; //$color-green-lightest;
    color: $color-green;
    border-color: $color-green;
    text-decoration: none!important;
}

// alt buttons
.button-green-solid.icon1,
.button-green-solid.icon2 {
    background-image: url(img/icons/clock.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 18px 18px;
    padding-left: 36px;
    text-align: left;
    min-width: auto;
}

// buttons wrapper
.buttons-wrapper a {
    margin-right: 16px;
    margin-bottom: 16px;
}

.buttons-wrapper a+a {
    margin-right: 0;
}
