/* buttons */

ul#main-menu li.menu-button-outline>a,
ul#main-menu li.menu-button-solid>a,
.button-solid,
.button-outline {
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    border-radius: $border-radius;
    padding: 8px 24px;
    text-align: center;
    min-width: 120px;
    text-decoration: none!important;
}


/* button solid */

ul#main-menu li.menu-button-solid>a,
.button-green-solid {
    color: #fff;
    background-color: $color-theme;
    border: 1px solid $color-theme;
}

.has-mouse ul#main-menu li.menu-button-solid>a,
.has-mouse .button-solid {
    transition: all .3s;
}

ul#main-menu .li.menu-button-solid>a:focus,
.has-mouse ul#main-menu li.menu-button-solid>a:hover,
.button-solid:focus,
.has-mouse .button-solid:hover {
    background-color: transparent;
    color: $color-theme;
    border-color: $color-theme;
    text-decoration: none;
}

// button outline
ul#main-menu li.menu-button-outline>a,
.button-outline {
    background-color: transparent;
    border: 1px solid $color-theme;
    color: $color-theme;
}

.has-mouse ul#main-menu li.menu-button-outline>a,
.has-mouse .button-outline {
    transition: all .3s ease-in-out;
}

ul#main-menu li.menu-button-outline>a:focus,
.has-mouse ul#main-menu li.menu-button-outline>a:hover,
.button-outline:focus,
.has-mouse .button-outline:hover {
    background-color: $color-theme;
    color: #fff;
    border-color: $color-theme;
    text-decoration: none!important;
}

// menu buttons
ul#main-menu li.menu-button-outline>a,
ul#main-menu li.menu-button-solid>a {
    font-size: inherit;
}

// buttons wrapper
.buttons-wrapper a {
    margin-right: 16px;
    margin-bottom: 16px;
}

// check!!!
.buttons-wrapper a:last-of-type {
    margin-right: 0;
}
