.tiles-wrapper {
    display: flex;
    margin-left: -32px;
    margin-right: -32px;
}

.post-tile {
    width: calc(33.33% - 64px);
    margin: 32px;
    background: #fff;
    border-radius: $border-radius;
    overflow: hidden;
}

a.post-tile:hover {
    color: $color-black;
}

.post-tile-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-tile-bg span {
    display: block;
    padding-bottom: 60%;
}

.post-tile-content {
    padding: 24px 16px 24px;
}

.post-tile-content h2.title--v2 {
    min-height: 66px;
    margin-bottom: 8px;
}

.post-tile-content .post-tile-meta {
    font-size: 13px;
    font-weight: 700;
    clear: both;
    overflow: hidden;
    margin: 0 0 8px;
}

.post-tile-content p {
    margin: 0;
}

// hover bg img
.has-mouse .post-tile {
    transition: all .3s;
}

.has-mouse .post-tile:hover {
    transform: scale(1.02);
    box-shadow: $box-shadow;
}
