// Type
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-black;
    line-height: 1.6;
}

b,
strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 24px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

// Titles
h2.title--top {
    font-size: 40px;
    line-height: 1.4;
    font-weight: 700;
    color: $color-theme;
    margin-bottom: 8px;
    min-height: 56px;
}

// home title = uppercase:
h2.title--top.uppercase {
    letter-spacing: 2px;
    font-size: 36px;
}

// small top title
h2.title--top.small {
    font-size: 30px;
}

h1.title--main {
    font-size: 42px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-black;
    margin-bottom: 32px;
}

h2.title--v1 {
    font-size: 25px;
    font-weight: 400;
    color: $color-theme;
    margin-bottom: 32px;
}

h2.title--v2 {
    font-size: 21px;
    font-weight: 400;
    color: $color-theme;
    margin-bottom: 32px;
}

h2.title--v2.black {
    color: $color-black;
}
