#section-page-home .section-header-intro>div {
    background-image: url(img/home/bg1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 180px;
    padding-top: 160px;
    padding-bottom: 104px;
}

// header intro 
#header-intro-content {}


/* Three blocks */

#row-homepage-blocks {
    padding-top: 24px;
    padding-bottom: 24px;
    background: $color-grey-bg;
}

#homepage-blocks-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 -16px;
}

#homepage-blocks-wrapper>div {
    width: calc( 100% - 32px);
    margin: 16px auto;
    max-width: 320px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    position: relative;
}

.home-block-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-block-img span {
    display: block;
    width: 100%;
    padding-bottom: 90%;
}

.home-block-content {
    padding: 32px 24px 64px;
}

.home-block-content h2 {
    margin-bottom: 8px;
    min-height: 80px;
}

.home-block-content a.button-green-solid {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    max-width: none;
    display: block;
}

// horizontal 
@media only screen and (min-width: 480px) {
    #homepage-blocks-wrapper>div {
        display: flex;
        max-width: none;
        border-radius: 0 4px 4px 0;
    }
    #homepage-blocks-wrapper>div>div {
        width: 50%;
    }
    .home-block-img span {
        padding-bottom: 66%;
    }
    .home-block-content a.button-green-solid {
        left: auto;
    }
}

// back to 3 blocks vertical 
@media only screen and (min-width: 960px) {
    #row-homepage-blocks {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #homepage-blocks-wrapper {
        flex-direction: row;
    }
    #homepage-blocks-wrapper>div {
        display: block;
        width: calc( 33.33% - 32px);
        margin: 16px;
        border-radius: 0 0 4px 4px;
    }
    #homepage-blocks-wrapper>div>div {
        width: 100%;
    }
    .home-block-img span {
        padding-bottom: 110%;
    }
    .home-block-content {
        padding: 32px 24px 140px;
    }
    .home-block-content a.button-green-solid {
        left: 24px;
    }
}


/* Two rows */

#row-homepage-rows {}

#homepage-rows-wrapper .home-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

#homepage-rows-wrapper .home-row.home-row1 .home-row-img {
    margin-bottom: 24px;
}

#homepage-rows-wrapper .home-row.home-row2 .home-row-img {
    overflow: hidden;
}


/* image circle */

.home-row-round-img {
    width: 100%;
    max-width: 320px;
    float: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.home-row2 .home-row-round-img {
    float: right;
}

.home-row-round-img span {
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

#homepage-rows-wrapper .home-row.home-row1 .home-row-content>div,
#homepage-rows-wrapper .home-row.home-row2 .home-row-content>div {
    max-width: 320px;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 760px) {
    #homepage-rows-wrapper .home-row {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #homepage-rows-wrapper .home-row .home-row-img {
        margin-bottom: 0;
    }
    #homepage-rows-wrapper .home-row.home-row1 .home-row-img {
        float: left;
        width: 60%;
    }
    #homepage-rows-wrapper .home-row.home-row1 .home-row-content {
        padding-top: 60px;
        float: right;
        width: 40%;
        padding-left: 48px;
    }
    #homepage-rows-wrapper .home-row.home-row2 .home-row-img {
        float: right;
        width: 40%;
        padding-left: 48px;
    }
    #homepage-rows-wrapper .home-row.home-row2 .home-row-content {
        float: left;
        width: 60%;
        padding-right: 48px;
    }
    #homepage-rows-wrapper .home-row.home-row1 .home-row-content>div {
        max-width: 400px;
    }
    #homepage-rows-wrapper .home-row.home-row2 .home-row-content>div {
        max-width: 400px;
        float: right;
    }
    /* image circle */
    .home-row2 .home-row-round-img {
        float: left;
    }
}
