/* Page / Post intro */

.intro-padding {
    padding-top: 80px;
    padding-bottom: 56px;
}


/* ROWS */

.row-padding {
    padding-bottom: 80px;
}

.row-margin {
    margin-bottom: 80px;
}

.row-bg-grey {
    background-color: $color-grey-light;
}

.row-bg-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
