.row-partners-gallery {
    padding-top: 20px;
    padding-bottom: 60px;
}

.partners-gallery-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5%;
}

.partners-gallery-wrapper ul li {
    margin: 0 1.5% 25px;
    flex-basis: 47%;
}

.partners-gallery-wrapper ul li a,
.partners-gallery-wrapper ul li img {
    display: block;
}

@media only screen and (min-width: 400px) {
    .partners-gallery-wrapper ul li {
        flex-basis: 30.33%;
    }
}

@media only screen and (min-width: 760px) {
    .partners-gallery-wrapper ul li {
        flex-basis: 22%;
    }
}

@media only screen and (min-width: 960px) {
    .partners-gallery-wrapper ul li {
        flex-basis: 17%;
    }
}


/* if has a */

.has-mouse .partners-gallery-wrapper ul li a {
    transition: transform .3s ease-out;
}

.has-mouse .partners-gallery-wrapper ul li a:hover {
    transform: translateY(-4px) scale(1.03);
}
