#section-single-shops {}

// intro
#single-shops-intro-left {}

#single-shops-intro h1.post-title {
    margin-bottom: 25px;
}

#single-shops-intro-right {
    width: 100%;
    max-width: 180px;
    clear: both;
    margin-bottom: 20px;
    margin-left: 10%;
}

@media only screen and (min-width: 480px) {
    #single-shops-intro h1.post-title {
        margin-bottom: 40px;
    }
    #single-shops-intro-left {
        float: left;
        width: 68%;
    }
    #single-shops-intro-right {
        width: 28%;
        float: right;
        max-width: 235px;
        margin-bottom: 30px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1120px) {
    #single-shops-intro-right {
        margin-right: -7%;
    }
}

#single-shops-intro-thumbnail {
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#single-shops-intro-left-buttons {
    margin-bottom: 40px;
}

#single-shops-intro-left-buttons a {
    margin: 0 15px 10px 0;
}

// row media
#row-media-gallery>div {
    margin-top: 20px;
    margin-bottom: 60px;
}

#row-media-gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

#row-media-gallery li {
    width: 50%;
    padding: 0 10px 20px;
}

#row-media-gallery li a {
    display: block;
}

#row-media-gallery li a img {
    display: block;
}

@media only screen and (min-width: 740px) {
    #row-media-gallery ul {
        display: flex;
        flex-wrap: nowrap;
    }
    #row-media-gallery li {
        width: 25%;
    }
}

// media hover
.has-mouse #row-media-gallery li a {
    transition: transform .3s ease-out, box-shadow .3s ease-out;
}

.has-mouse #row-media-gallery li a:hover {
    transform: translateY(-4px);
    box-shadow: $box-shadow;
}

// row extra content
#row-shops-extra-content>div>div {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 50px;
}

@media only screen and (min-width: 740px) {
    #row-shops-extra-content>div>div {
        margin-bottom: 70px;
    }
    // content only
    #row-shops-extra-content.contentOnly>div>div {
        max-width: 880px;
    }
    // two columns
    #row-shops-extra-content.contentOnly.contentLeftRight>div>div {
        display: flex;
    }
    #row-shops-extra-content.contentOnly.contentLeftRight>div>div>div {
        flex-basis: 50%;
        padding-right: 5%;
    }
    #row-shops-extra-content.contentOnly.contentLeftRight>div>div>div+div {
        padding-right: 0;
        padding-left: 5%;
    }
    // single column
    #row-shops-extra-content.contentOnly.contentLeft>div,
    #row-shops-extra-content.contentOnly.contentLeft>div {
        max-width: 880px;
    }
    #row-shops-extra-content.contentOnly.contentLeft>div>div,
    #row-shops-extra-content.contentOnly.contentLeft>div>div {
        max-width: 68%;
        margin-left: 0;
    }
}

// content & timetable 
@media only screen and (min-width: 740px) {
    #row-shops-extra-content.timetable>div {
        display: flex;
    }
    #row-shops-extra-content.timetable>div>div {
        flex-basis: 60%;
        padding-right: 5%;
        max-width: none;
        width: auto;
    }
    #row-shops-extra-content.timetable>div>div+div {
        padding-left: 5%;
        padding-right: 0;
        flex-basis: 40%;
    }
}

@media only screen and (min-width: 960px) {}

// timetable
#shoping-timetable {
    padding-top: 24px;
    max-width: 240px;
    margin: 0 auto;
}

#shoping-timetable h4 {
    font-size: 14px;
    color: $color-grey;
    font-weight: 400;
    margin-bottom: 20px;
}

#shoping-timetable h4:before {
    vertical-align: middle;
    display: inline-block;
    margin-right: 16px;
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    background-image: url(img/icons/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

#shoping-timetable ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 14px;
}

#shoping-timetable ul li {
    display: table-row;
}

#shoping-timetable ul li span {
    width: 50%;
    display: table-cell;
    padding-bottom: 10px
}

#shoping-timetable ul li span.day {}

#shoping-timetable ul li span.time {
    color: $color-green;
}

#shoping-timetable p.timetable-extra-info {
    font-size: 14px;
    color: $color-grey;
    font-weight: 400;
    margin-top: 10px;
}

// line with bottom block hack
@media only screen and (min-width: 740px) {
    .noContent.timetable #row-shops-extra-content-right {
        max-width: none;
        flex-basis: 100%;
        padding: 0 6%;
    }
    .noContent.timetable #shoping-timetable {
        left: 0;
        max-width: 760px;
    }
    .noContent.timetable #shoping-timetable ul li {
        display: table;
        float: left;
        width: 33.33%;
    }
}

@media only screen and (min-width: 960px) {
    #shoping-timetable {
        left: 9px;
        position: relative;
    }
}

// extra info
#row-shops-extra-info #shops-contact-info-wrapper {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

#row-shops-extra-info #shops-contact-info-wrapper>div {
    border: 1px solid $color-border-grey;
    margin-bottom: 30px;
    padding: 30px 30px;
}

#row-shops-extra-info #shops-contact-info-wrapper>div ul li {
    margin-bottom: 15px;
}

#row-shops-extra-info #shops-contact-info-wrapper>div ul li.phone {
    margin-bottom: 2px;
}

#row-shops-extra-info #shops-contact-info-wrapper>div ul li.website a {
    color: $color-green;
}

.has-mouse #row-shops-extra-info #shops-contact-info-wrapper>div ul li.website a:hover {
    border-bottom: 1px solid $color-green;
}

@media only screen and (min-width: 740px) {
    #row-shops-extra-info #shops-contact-info-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        width: auto;
        margin: 0 -2%;
    }
    #row-shops-extra-info #shops-contact-info-wrapper>div {
        margin-right: 2%;
        margin-left: 2%;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 960px) {
    #row-shops-extra-info #shops-contact-info-wrapper {
        flex-wrap: no-wrap;
        text-align: left;
    }
    #row-shops-extra-info #shops-contact-info-wrapper>div {
        flex-basis: 29.33%;
        padding: 30px 6%;
    }
}

// social 
#shops-contact-info-social ul li a:before {
    vertical-align: middle;
    position: relative;
    top: -1px;
    display: inline-block;
    margin-right: 16px;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url(img/icons/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.has-mouse #shops-contact-info-social ul li a {
    transition: color .3s;
}

// facebook
#shops-contact-info-social ul li.facebook a:before {
    top: -2px;
    background-image: url(img/icons/social-outline/thumbs-up.svg);
    background-size: 16px 15px;
}

.has-mouse #shops-contact-info-social ul li.facebook a:hover {
    color: rgb(36, 64, 215);
}

// instagram
#shops-contact-info-social ul li.instagram a:before {
    background-image: url(img/icons/social-outline/instagram.svg);
    background-size: 16px 15px;
}

.has-mouse #shops-contact-info-social ul li.instagram a:hover {
    color: rgb(255, 4, 35);
}

// twitter
#shops-contact-info-social ul li.twitter a:before {
    background-image: url(img/icons/social-outline/twitter.svg);
    background-size: 16px 15px;
}

.has-mouse #shops-contact-info-social ul li.twitter a:hover {
    color: rgb(12, 203, 255);
}

// pinterest
#shops-contact-info-social ul li.pinterest a:before {
    background-image: url(img/icons/social-outline/pinterest.svg);
    background-size: 13px 16px;
}

.has-mouse #shops-contact-info-social ul li.pinterest a:hover {
    color: rgb(255, 30, 12);
}

// youtube
#shops-contact-info-social ul li.youtube a:before {
    background-image: url(img/icons/social-outline/youtube.svg);
    background-size: 19px 13px;
}

.has-mouse #shops-contact-info-social ul li.youtube a:hover {
    color: rgb(255, 0, 0);
}

// address
#row-shops-extra-info #shops-contact-info-wrapper>div>h4 {
    font-size: 20px;
    line-height: inherit;
    font-weight: 300;
    margin-bottom: 20px;
}

#row-shops-extra-info #shops-contact-info-wrapper #shops-contact-info-address ul li {
    margin-bottom: 2px;
}
